node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example


# SQLite journal / WAL (archivos temporales de la BD)
*-journal
*-wal
*-shm
totem-marco-journal

# Android build
android/app/build/
android/.gradle/
android/local.properties

# Editor
.vscode/
.idea/
Totem-MARCO-Explorer.apk*.apk
*.apk
public/pdfs/1787588257978_CATALOGO_EN_ESPA_OL_POWER_TEAM.pdf
